/********** Template CSS **********/
:root {
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #0e0683;
}
.custom-btn {
    background: #000 !important;
    border: #000;
}
.about-css, .main-img {
    height: 100vh;
}
.about-section {
    height: 100vh;
}


/* Prevent navbar collapse on desktop */
@media (min-width: 992px) {
.navbar {
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}
.navbar-collapse.collapse.show {
    display: block !important;
    
}
}
@media (min-width: 992px) {
    #navbar-toggler {
        display: none;
    }
    .add-mobile {
        display: none !important;
    }
    .text-size {
        font-size: 20px;
    }
   
}


.add-nav {
    display: block !important;
}
.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
.navbar-navs.p-4.p-lg-0.mobile-menu {
    display: flex;
}
a.nav-item.nav-link {
    color: #000;
}
.collapse.navbar-collapse.add-nav {
    justify-content: center;}
.navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
}
img.add-heding {
    max-width: 460px;
    height: auto;
}
.navbar-light .navbar-nav .nav-link {

    color: #000 !important;
}
.custom-section {
    overflow: hidden;
}
span.color-add {
    color: #ff6f61;
    font-weight: bold;
}
.footer-logo-container {
    display: inline-block; /* Allows image to be inside a block with styling */
    background-color: #333; /* Dark background behind the transparent logo */
    padding: 10px; /* Add padding to ensure the background color surrounds the logo */
    border-radius: 10px; /* Optional: Add rounded corners to the background */
}

.footer-logo {
    height: 150px;    /* Logo height */
    width: auto;      /* Maintain aspect ratio */
    display: block;   /* Removes bottom space typically caused by inline-block */
}
.footer-logo-container {
    display: inline-block;
    background-color: #ff5733; /* Set background color */
    padding: 10px; /* Adjust padding to give space around the logo */
    border-radius: 10px; /* Optional: Adds rounded corners */
}

@media (max-width: 991px) {
    #navbar-toggler {
        display: block;
    }
    .add-mobile {
        display: block;
    }
    .aad-desktop {
        display: none !important;
    }
    .custom-n {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        flex-direction: row !important;
        column-gap: 12px;
    }

}
@media (max-width: 991.98px) {
  
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
    .about-css, .main-img {
        height: 45vh;
    }
    .about-section {
        height: 50vh;
    }
    
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #dad4d4;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: #000;
    border-color: #000;
}
.testimonial-item img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}
@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
    .collapse.navbar-collapse.add-nav {
        justify-content: center;
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        top: 18px;
        height: auto;
    }
    .navbar-navs.p-4.p-lg-0.mobile-menu {
        column-gap: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .about-css, .main-img {
        height: 60vh;
    }
}
/*** Header carousel ***/
@media (max-width: 768px) {
    .addover{
        flex-wrap: nowrap !important;
    }
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    .navbar-navs.p-4.p-lg-0.mobile-menu {
        display: flex;
        justify-content: center;
    }
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

@media (min-width: 992px) {
 
    .navbar-collapse {
        display: flex !important;
        justify-content: space-between;
    }
    .d-flex.justify-content-center {
        margin-left: 0;
    }
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}
.navbar-nav-scroll {
    max-height: 100%;
    overflow-y: hidden;
}
img.img-fluid {
    visibility: none;
    animation-delay:none;
    animation-name: none;
}
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #eff8ff;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.addhead, .color-set, .custom-color a, .custom-color, .footer h4{
 color: #eff8ff !important;   
}
.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


.footer .btn-link {
    color: #f8f9fa;
    text-decoration: none;
}

.footer .btn-link:hover {
    color: #ff6f61;
}

.footer .btn-social {
    margin: 0 5px;
    font-size: 18px;
}

.footer .footer-menu a {
    color: #f8f9fa;
    margin: 0 10px;
}

.footer .footer-menu a:hover {
    color: #ff6f61;
}
/* Social Icons Styling */
.btn-social {
    height: 40px !important;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 20px;
    transition: all 0.3s ease;
}

.btn-social:hover {
    background-color: #000; 
    color: #fff; 
}

/* Navbar Toggler (Burger menu) */
.navbar-toggler {
    border-color: #000;
}

/* Ensure max height for the navbar */
.navbar {
    height: auto;
}
img.img-fluid:hover {
    transform: none !important;
}



@media (max-width: 768px) {
    .course-item img {
        height: 250px;     
    }
}

/* For mobile screens (screen width <= 576px) */
@media (max-width: 576px) {
    .course-item img {
        height: 200px;     
    }
    .course-item img {
        padding: 10px;  
    }
    .course-item img {
        height: auto; 
        width: 100%;  
    }
    .about-check {
        padding: 1rem !important;
    }
}

.course-item {
    padding: 20px;
}